@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
import 

body{
background-color: #fefdf9;
font-family: 'Inter';
}

.App{
  width: 70%;
  margin: auto;
  background-color: #fefdf9;
}

.App-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  margin-top: 60px;
}

.header-links {
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
}
.header-links a {
  color: black;
  margin-left: 30px;
  cursor: pointer;
  /* padding: 5px; */
}

.container{
  display: flex;
  margin-top:30px;
  height:500px;
}

.child1{
  margin-top: 10px;
  width: 70%;
  margin-right: 25px;
  /* display: flex; */
}

.child2{
  margin-top: 10px;
  width:30%;
  height: 100%;
  color: white;
  background-color: black;
  /* font-family: 'Inter', sans-serif; */
}

.childofchild1{
display: flex;
align-items:center;
padding-top: 20px;
}

.desktopImg1{
  width: 100%;
  height:55%;
  margin-bottom: -30px;
}

.content{
  margin:10px;
  text-align: start;
  font-family: 'Inter';
  font-weight: 100;
}

.container2{
  width: 100%;
  /* background-color: red; */
display: flex;
margin-top: 40px;
padding-top: 20px;
margin-bottom: 40px;
}
.retropc{
  height: 100px;
  width: 80px;
}